<% @project.rewards.each do |reward| %>
  <%= form_for Pledge.new do |f| %>
   <button class="reward">
    <span class="info">name: <%= reward.name %> <br>
    description: <%= reward.description %> <br>
    amount: <%= reward.amount_required %></span>
    <span class="pledge">
      Pledge now.
    </span>
  </button>
  <%= f.hidden_field :reward_id, value: reward.id %>
  <%= f.hidden_field :amount, value: reward.amount_required %>
  <% end %>
  <br> <br>
<% end %>