
<h1><%= @project.title %> </h1>

Description: <%= @project.description %> <br>
Goal: $<%= @project.goal %> <br>
Remaining: $<span id="amount-remaining"><%= @project.remaining %></span>
Start_date: <%= @project.start_date.to_date %> <br>
End_date: <%= @project.end_date.to_date %> <br><br>

 Days remaining: <%= time_remaining %>

<h2>Reward(s)</h2>

<%= render "rewards" %>


<%= link_to "back to project", projects_path %>


